BackEnd/.vs/SRManAdd_Backend/CopilotIndices/17.14.1431.25910/CodeChunks.db
BackEnd/.vs/SRManAdd_Backend/CopilotIndices/17.14.1431.25910/SemanticSymbols.db
BackEnd/.vs/SRManAdd_Backend/CopilotIndices/17.14.1584.41681/CodeChunks.db
BackEnd/.vs/SRManAdd_Backend/CopilotIndices/17.14.1584.41681/CodeChunks.db-shm
BackEnd/.vs/SRManAdd_Backend/CopilotIndices/17.14.1584.41681/CodeChunks.db-wal
BackEnd/.vs/SRManAdd_Backend/CopilotIndices/17.14.1584.41681/SemanticSymbols.db
BackEnd/.vs/SRManAdd_Backend/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-shm
BackEnd/.vs/SRManAdd_Backend/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-wal
BackEnd/.vs/SRManAdd_Backend/FileContentIndex/463c40c2-28f2-42af-b6a1-761c178695b5.vsidx
BackEnd/.vs/SRManAdd_Backend/FileContentIndex/4751d099-d126-434a-ac1f-a037e9391fe2.vsidx
BackEnd/.vs/SRManAdd_Backend/FileContentIndex/40256837-c05f-4379-b794-422508f271a5.vsidx
BackEnd/.vs/SRManAdd_Backend/FileContentIndex/aad23089-35f1-4309-89b9-d3b53d60ff1e.vsidx
BackEnd/.vs/SRManAdd_Backend/FileContentIndex/def5e8b4-1d34-4a0c-969f-4db831936623.vsidx
BackEnd/.vs/SRManAdd_Backend/v17/.suo
BackEnd/SRManAdd_Backend/bin/Debug/net8.0/Dapper.dll
BackEnd/SRManAdd_Backend/obj/Debug/net8.0/SRManAdd_Backend.csproj.BuildWithSkipAnalyzers
