
/****** Object:  Table [dbo].[x_CustomLogs]    Script Date: 11/3/2025 1:23:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[x_CustomLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created_by] [nvarchar](100) NULL,
	[LogMessage] [nvarchar](1000) NULL,
	[LogValue] [nvarchar](50) NULL,
	[Created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[x_I_CustomLogs]    Script Date: 11/3/2025 1:23:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[x_I_CustomLogs]
	  @Created_by	nvarchar(100)	= NULL
	, @LogMessage	nvarchar(1000)	= NULL
	, @LogValue		nvarchar(50)	= NULL
AS

BEGIN
	INSERT INTO x_CustomLogs
	SELECT
		  @Created_by
		, @LogMessage
		, ISNULL(@LogValue, '')
		, GETDATE()

END
GO
