USE [TPMDB]
GO
/****** Object:  StoredProcedure [dbo].[x_S_ManAdds_LabelValidation]    Script Date: 12/12/2024 2:30:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rafael Ortiz
-- Create date: 2024-12-11
-- Description:	Get Values From BarCode Scanner
-- =============================================
ALTER   PROCEDURE [dbo].[x_S_ManAdds_LabelValidation]
	-- Add the parameters for the stored procedure here
	  @TemplateName			NVARCHAR(50)	= NULL
	, @BarCode1				NVARCHAR(2000)	= NULL
	, @BarCode2				NVARCHAR(2000)	= NULL
	, @BarCode3				NVARCHAR(2000)	= NULL
	, @MaterialId			NVARCHAR(100)	= NULL
	, @MaterialValidation	BIT				= 0
	
AS
BEGIN

	SET NOCOUNT ON;
	DECLARE	  @LotId			NVARCHAR(2000)
			, @ExpirationDate	NVARCHAR(2000)
			, @Quantity			NVARCHAR(2000)
			, @Par1				NVARCHAR(2000)	= NULL
			, @Par2				NVARCHAR(2000)	= NULL
			, @Par3				NVARCHAR(2000)	= NULL
			, @Par4				NVARCHAR(2000)	= NULL
			, @Par5				NVARCHAR(2000)	= NULL
			, @Par6				NVARCHAR(2000)	= NULL
			, @Par7				NVARCHAR(2000)	= NULL
			, @Par8				NVARCHAR(2000)	= NULL
			, @Par9				NVARCHAR(2000)	= NULL
			, @Par10			NVARCHAR(2000)	= NULL
			, @ValidationError	NVARCHAR(10)	= NULL
			, @ErrorMsg			NVARCHAR(200)	= NULL

	DECLARE	  @ValidationErrorValue_VALID		NVARCHAR(10)	= 'VALID'
			, @ValidationErrorValue_NOTVALID	NVARCHAR(10)	= 'NOT VALID'


	SET @ValidationError = @ValidationErrorValue_VALID

	BEGIN TRY

	IF NOT EXISTS (SELECT *	FROM x_ManAdds_LabelTemplateCnfg WHERE TemplateName = @TemplateName)
	BEGIN
		SET @ErrorMsg = 'Template not recognized'
		SELECT
			  NULL									"LotId"
			, NULL									"ExpirationDate"
			, NULL									"Quantity"
			, NULL									"Par1"
			, NULL									"MaterialID"
			, NULL									"Par3"
			, NULL									"Par4"
			, NULL									"Par5"
			, NULL									"Par6"
			, NULL									"Par7"
			, NULL									"Par8"
			, NULL									"Par9"
			, NULL									"Par10"
			, @ErrorMsg								"Result"
			, @ValidationErrorValue_NOTVALID		"Validation"
		RETURN;
	END

	SELECT TOP 1
		  @LotId			= LotId
		, @ExpirationDate	= ExpirationDate	
		, @Quantity			= Quantity
		, @Par1				= Par1				--DUN RegExp
		, @Par2				= Par2				--Material RegExp
		, @Par3				= Par3
		, @Par4				= Par4
		, @Par5				= Par5
		, @Par6				= Par6
		, @Par7				= Par7
		, @Par8				= Par8
		, @Par9				= Par9
		, @Par10			= Par10
	FROM x_ManAdds_LabelTemplateCnfg
	WHERE TemplateName = @TemplateName

	/**/
	DECLARE
		  @util_barCode			int
		, @util_scapeChar		NVARCHAR(10)
		, @util_numChars		int
		, @util_isLastField		int
		, @BarCode				NVARCHAR(2000) = NULL

	--a<BarCode>|b<ScapeChar>|c<NumChars>|d<isLastField>
	--a2|b(10)|c8|d1

	IF (@MaterialValidation = 1)
	BEGIN
		IF (SELECT * FROM x_fn_SU_ManAdd_Get(@Par2, @BarCode1, @BarCode2, @BarCode3)) = @MaterialId
		BEGIN
			SET @ValidationError = @ValidationErrorValue_VALID
			SET @ErrorMsg = NULL
		END
		ELSE
		BEGIN
			SET @ValidationError = @ValidationErrorValue_NOTVALID
			SET @ErrorMsg = CONCAT('El material previsto [', @MaterialId, '] y el escaneado [', (SELECT * FROM x_fn_SU_ManAdd_Get(@Par2, @BarCode1, @BarCode2, @BarCode3)) ,'] no coinciden')
		END
	END

	IF ISNULL((SELECT * FROM x_fn_SU_ManAdd_Get(@LotId, @BarCode1, @BarCode2, @BarCode3)), '') = ''
	BEGIN
		SET @ValidationError = @ValidationErrorValue_NOTVALID
		SET @ErrorMsg = 'No ha sido posible identificar el Lote'
	END

	SELECT
	      (SELECT * FROM x_fn_SU_ManAdd_Get(@LotId, @BarCode1, @BarCode2, @BarCode3))									"LotId"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@ExpirationDate, @BarCode1, @BarCode2, @BarCode3))							"ExpirationDate"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@Quantity, @BarCode1, @BarCode2, @BarCode3))								"Quantity"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@Par1, @BarCode1, @BarCode2, @BarCode3))									"Par1"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@Par2, @BarCode1, @BarCode2, @BarCode3))									"MaterialID"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@Par3, @BarCode1, @BarCode2, @BarCode3))									"Par3"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@Par4, @BarCode1, @BarCode2, @BarCode3))									"Par4"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@Par5, @BarCode1, @BarCode2, @BarCode3))									"Par5"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@Par6, @BarCode1, @BarCode2, @BarCode3))									"Par6"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@Par7, @BarCode1, @BarCode2, @BarCode3))									"Par7"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@Par8, @BarCode1, @BarCode2, @BarCode3))									"Par8"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@Par9, @BarCode1, @BarCode2, @BarCode3))									"Par9"
		, (SELECT * FROM x_fn_SU_ManAdd_Get(@Par10, @BarCode1, @BarCode2, @BarCode3))									"Par10"
		, @ErrorMsg																										"Result"
		, @ValidationError																								"Validation"

	END TRY
	BEGIN CATCH

		SELECT
	      NULL									"LotId"
		, NULL									"ExpirationDate"
		, NULL									"Quantity"
		, NULL									"Par1"
		, NULL									"MaterialID"
		, NULL									"Par3"
		, NULL									"Par4"
		, NULL									"Par5"
		, NULL									"Par6"
		, NULL									"Par7"
		, NULL									"Par8"
		, NULL									"Par9"
		, NULL									"Par10"
		, ERROR_MESSAGE()						"Result"
		, @ValidationErrorValue_NOTVALID		"Validation"

		
	END CATCH

END
