USE [TPMDB]
GO
/****** Object:  Trigger [dbo].[x_Trigger_UpdateDateTime]    Script Date: 12/12/2024 3:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[x_Trigger_UpdateDateTime]
   ON  [dbo].[x_ManAdds_LotsRegistration]
   AFTER INSERT,UPDATE,DELETE
AS 
BEGIN
	DECLARE @Id int, @qty real, @ManAddRegId int
	IF EXISTS (SELECT * FROM inserted)
	BEGIN
		SELECT
		  @Id = Id 
		, @ManAddRegId = ManAdds_Registration_Id
		FROM inserted
	END
	ELSE
	BEGIN
		SELECT
		  @Id = Id 
		, @ManAddRegId = ManAdds_Registration_Id
		FROM deleted
	END

	UPDATE x_ManAdds_LotsRegistration
		SET LastUpdateAt = GETDATE()
	WHERE Id = @Id	

	SELECT
		@qty = SUM(ActualAmount)
	FROM [x_ManAdds_LotsRegistration]
	WHERE ManAdds_Registration_Id = @ManAddRegId

	UPDATE x_ManAdds_Registration
		SET ActualAmount = ISNULL(@qty, 0)
	WHERE Id = @ManAddRegId

END
