@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: 30 0 71;
      --color-secondary: 111 114 185;
      --color-third: 111 114 185;
      /* ... */
    }
  }